<div id="<%= dom_id vendor_event %>">
  <p>
    <strong>Event:</strong>
    <%= vendor_event.event.name %>
  </p>

  <p>
    <strong>Application status:</strong>
    <%= vendor_event.application_status %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= vendor_event.paid %>
  </p>
</div>
