<h1>Editing vendor event</h1>

<%= render "form", vendor_event: @vendor_event %>

<br>

<div>
  <%= link_to "Show this vendor event", @vendor_event %> |
  <%= link_to "Back to vendor events", vendor_events_path %>
</div>
