<div class="card">
  <div>
    <%= render partial: "vendor_events/calendar", locals: { vendor_event: @vendor_event } %>
  </div>

  <% if @vendor_events.present? %>
    <div id="vendor_event">
    <div class="nav d-flex justify-content-around pb-0">
      <p>Image</p>
      <p>Name</p>
      <p>Status</p>
      <p>Actions</p>
    </div>
      <% @vendor_events.each do |vendor_event| %>
        <div>
          <%= render vendor_event %>
        </div>
      <% end %>
    <% else %>
      <p>No vendor events found</p>
  </div>
    <% end %>
</div>
