<p style="color: green"><%= notice %></p>

<h1 class="title">My events</h1>

<% if @vendor_events.present? %>
<div id="vendor_event">
  <% @vendor_events.each do |vendor_event| %>
    <%= render vendor_event %>

  <% end %>
</div>
<% else %>
  <p>No vendor events found</p>
<% end %>
