<p style="color: green"><%= notice %></p>

<h1>Vendor events</h1>

<% if @vendor_events.present? %>
<div id="vendor_event">
  <% @vendor_events.each do |vendor_event| %>
    <%= render vendor_event %>
    <p>
      <%= link_to "Show this vendor event", vendor_events_path(@vendor_event) %>
    </p>
  <% end %>
</div>
<% else %>
  <p>No vendor events found</p>
<% end %>
