<p style="color: green"><%= notice %></p>

<%= render @vendor_event%>

<div class="row justify-content-around">

  <%= link_to "Back", vendor_events_path(@vendor_event) %>
  <%= link_to "Remove event", @vendor_event, method: :delete %>
</div>
