

    <div class="mycard row-5">
      <h2 class="d-flex justify-content-center splash iceberg-regular">Connecting Vendors To Events</h2>
      <div class="p-3">
        <div class="d-flex ">
          <%= image_tag "favicon.png", alt:"vendor booth", width:"40%", height:"40%", class:"cat" %>
        <div class="p-3">
        <h3> Hello! Welcome to goVend. It is a big task to <strong>find events to sell your products</strong> at, stay organized, keep track of the events, check payment status, worrying if you applied to them, and most embarassingly of all, double booking. <em>Sound familier?</em> Let's fix that.</p>
        <p><em><strong>Made with love by a vendor, for vendors and events.</strong></em></h3>
        <p>Click the menu to get started.</p>
        </div>
      </div>

      <br>
      <div class="d-flex row">
        <div class="col">
        <p><strong>VENDORS:</strong> Allow me to simplify your life. goVend is a platform that connects vendors to events. It allows you to search for events, apply to them, and keep track of the events you have attended. It also allows you to create events and search for vendors. </p>
        <p><strong>EVENT COORDINATORS:</strong> Allow me to simplify your life as well. Here, you share your events and find vendors. Find new exciting vendors and the latest trends through ambiutious businesses to keep your patrons happy.  </p>
        <p>Setup in less than 5 muntes!</p>
          <h3 class="d-flex justify-content-center">Fast Account Setup</h3>
          <ol>
            <li> Sign up and start finding events in less than 5 minutes.</li>
            <li> Create a profile to showcase your business.</li>
          </ol>
        </div>
      </div>
      <br>
      <h3 class="d-flex justify-content-center">So many perks</h3>
      <ul>  
        <li> Easily host events you want to share with a simple setup.</li>
        <li> Once you have created an event, it becomes searchable to all users.</li>
        <li> Search for events that are looking for vendors!</li>
        <li> View a hosts page to see their other hosted events.</li>
        <li> Create a list of your events and update the status.</li>
        <li> Track your event data.</li>
      </ul>
    </div>

    <div class="col-md-2"></div>  <!-- Spacer -->
    

      