

    <div class="mycard row-5">
      <h2 class="d-flex justify-content-center splash iceberg-regular">Connecting Vendors To Events</h2>
      <div class="p-3">
        <p> Hello there! Welcome to goVend. Let me give you a brief rundown. As a vendor for the past 7 years, I know how daunting of a task it is to <strong>find events to vend</strong> at, stay organized, keep track of the vents you have attended, wondering if they were paid, wondering if you applied to them, and most embarassingly of all, double booking. <em>Sound familier?</em></p>
        <p>Allow me to simplify your life. goVend is a platform that connects vendors to events. It allows you to search for events, apply to them, and keep track of the events you have attended. It also allows you to create events and search for vendors. </p>
        <p>So, what are you waiting for? Sign up and discover event success today!</p>
        <p><em><strong>Made with love by a vendor, for vendors and events.</strong></em></p>
      </div>

      <br>
      <div class="d-flex row">
        <div class=" col">
          <%= image_tag "booth.jpeg", alt:"vendor booth", width:"100%", class:"mycard" %>
        </div>
        <div class="col">
          <h3 class="d-flex justify-content-center">Fast Account Setup</h3>
          <ol>
            <li> Sign up and start finding events in less than 5 minutes.</li>
            <li> Create a profile to showcase your business.</li>
          </ol>
        </div>
      </div>
      <br>
      <h3 class="d-flex justify-content-center">So many perks</h3>
      <ul>  
        <li> Easily host events you want to share with a simple setup.</li>
        <li> Once you have created an event, it becomes searchable to all users.</li>
        <li> Search for events that are looking for vendors!</li>
        <li> View a hosts page to see their other hosted events.</li>
        <li> Create a list of your events and update the status.</li>
      </ul>
    </div>

    <div class="col-md-2"></div>  <!-- Spacer -->
    

      