<h1 class="title">Connecting Vendors To Events</h1>
<div class="container">
  <div class="row">
    <div class="col-md-5 card">
      <h2>Get started</h2>
      <p>Sign up to create a profile and start connecting with events</p>
      <p>After you make an account, you can "Host" and event my creating a new event and updating the details.</p>
      <p>Once you have created an event, it becomes searchable to all users.</p>
      <p>Users can search for events by name, date, or location.</p>
    </div>
    <div class="col-md-2"></div>  <!-- Spacer -->
    <div class="col-md-5 card">
      <div>
      <%= link_to "Create account", new_user_registration_path, class:"title" %>
      </div>
      <div>
      <%= image_tag "booth.jpeg", alt:"vendor booth", width:"100%", class:"rounded" %>
      </div>
    </div>
  </div>
</div>
      